span {
  padding: 20px;
  border: 2px solid red;
}
h1 {
  text-align: center;
  background-color: bisque;
}
body {
  background-color: beige;
}
div {
  background-color: beige;
  text-align: center;
  justify-content: center;
  margin-top: 250px;
}
input {
  padding: 15px;
}
